@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');

.homepage-text {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.header {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 1em;
  letter-spacing: 2px;
}

.logo {
  font-family: 'Ubuntu';
  font-size: 3em;
  letter-spacing: 3px;
}