/* ---- Back Button ---- */

.back-button {
  color: #fff;
  cursor: pointer;
  font-size: 3em;
  left: 0;
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  transition: linear 150ms;
  user-select: none;
}

.back-button:active {
  color: rgba(255, 255, 255, 0.7);
}

.back-button:hover {
  transform: scale(1.3) translate(0, -37%);
}

/* ---- Loading Spinner ---- */
/* https://github.com/tobiasahlin/SpinKit */

.spinner {
  margin: 30px auto 0;
  text-align: center;
  width: 150px;
}

.spinner > div {
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  height: 18px;
  margin: 0 4px;
  width: 18px;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* Poet Heading */

.poet-name {
  color: #fff;
  font-family: 'Open Sans';
  font-size: 3em;
  letter-spacing: 2px;
  word-wrap: break-word;
}

@media (max-width: 400px) {
  .poet-name {
    font-size: 2.5em;
  }
}

/* Poem List */

.poem-info-left {
  flex: 9;
  padding: 8px 0 8px 10px;
  text-align: left;
}

.poem-info-right {
  color: #fff;
  flex: 1;
  padding: 8px 10px 8px 20px;
  text-align: right;
  user-select: none;
}

.poem-list {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInNoMovement;
  left: 50%;
  position: fixed;
  text-align: center;
  top: 30%;
  transform: translate(-50%, -50%);
  transition-timing-function: ease-in;
  width: 60%;
}

@media (max-width: 1000px) {
  .poem-list {
    width: 75%;
  }
}

@media (max-width: 600px) {
  .poem-list {
    width: 80%;
  }
}

@keyframes fadeInNoMovement {
  0% {
    opacity: 0.1;
  }

  100% {
    opacity: 1;
  }
}

.poem-list-div {
  color: #fff;
  cursor: default;
  background-color: rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-family: 'Open Sans';
}

.poem-list-li {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: 'Open Sans';
  font-size: 1.2em;
  width: 100%;
}

.poem-list-li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.poem-list-ul {
  height: 45vh;
  left: 0;
  list-style-type: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  right: 0;
  width: 100%;
}
