.searchbar {
  width: 100%;
  height: 30px;
  margin-top: 2em;
  padding-left: 0;
  outline: none;
  border: none;
  text-shadow: 0px 0px 0px #fff; /* input font color */
  -webkit-text-fill-color: transparent;
  font-size: 1.1em;
  font-family: 'Open Sans';
  text-align: center;
  background-color: transparent;
  transition: border 0.3s;
}

.searchbar::placeholder {
  text-shadow: 0px 0px 0px #E0E0E0;
}

.searchbar:focus::placeholder {
  color: transparent;
  text-shadow: 0px 0px 0px transparent;
}

.poet-suggestion {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.15);
  font-family: 'Open Sans';
  padding: 4px 0 4px 4px;
  width: 100%;
  font-size: 1.2em;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.poet-suggestion:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.poet-suggestion-left {
  text-align: left;
  flex: 9;
}

.poet-suggestion-right {
  text-align: right;
  flex: 1;
}